<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <ul>
        <li style="list-style-type: none;">
          <%= msg %>
        </li>
      </ul>
    <% end %>
    
    <%= render 'layouts/navigation' %>
    <% if !admin_logged_in? %>
      <%= render 'layouts/header'%>
    <% else %>
      <%= render 'layouts/header' if @header %>
    <% end %>
    <%= yield %>
  </body>
</html>
