<% provide(:title, "Log in") %>
    <div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>

<main id="admin-login">
  <center>
  <div class="login">
    <img src="http://i65.tinypic.com/egaijn.png" class="logo" style="transform: scale(0.4);"></img>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email, class:'label' %><br>
      <%= f.email_field :email, class: 'input input-forms' %><br><br><br>
      <%= f.label :password, class:'label' %><br>
      <%= f.password_field :password, class: 'input-forms' %><br><br><br>
      <%= f.submit "Log in", class: "btn" %>
    <% end %>
  </div>
  </center>
</main>

<style type="text/css">
  .nav-user, .header-user, .nav-category, hr {
    visibility: hidden;
  }

  #admin-login {
    padding-top: 250px;
    background-color: #AFEBEB;
    transform: translateY(-30%);
    height: 550px;
  }

  .login {
    background-color: #F8F8F8; 
    width: 300px; 
    height: 280px; 
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;"
  }

  img {
    margin: -1em;
    margin-bottom: -3em;
  }

  label {
    font-weight: bold;
  }

  .btn {
    margin-right: 0px;
  }

</style>

