<!DOCTYPE html>
<html>
<head>
	<title>My Products</title>
</head>
<body>
	<div class="sign">
		<h2 class="head" style="text-align: center;">FOR SALE:</h2>
	</div>

	<table class="table">
  		<thead class="th2">
  			<tr>
  				<th>Seller</th>
				<th>Buyer</th>
				<th>Product</th>
				<th>Price</th>
				<th>Remarks</th>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>  
			<tr>
				<% @sales.each do |sale| %>
					<% if (seller_logged_in? && (current_user == sale.seller)) && sale.buyer_id.nil? %>
				   		<td class="td"><%= sale.seller.first_name %> <%= sale.seller.last_name %></td>
					    <td class="td">no buyer</td>
						<td class="td"><%= sale.product.name %></td>
						<td class="td"><%= sale.price %></td>
						<td class="td"><%= sale.remarks %></td>
						<td class = "td"><%= image_tag sale.product.avatar.url(:medium)%></td>
						<td class="td"><%= link_to 'Show', sale %></td>
						<td class="td"><%= link_to 'Edit', edit_sale_path(sale) %></td>
						<td class="td"><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
					<% end %>
				<% end %>
  		</tbody>
  	</table>
<div class="sign">
		<h2 class="head" style="text-align: center;">SOLD:</h2>
	</div>
	<% @sales.each do |sale| %>
	<% if seller_logged_in? && (current_user == sale.seller) %>
		<% if !sale.buyer.nil?%>
		<table class="table">
  			<thead class="th2">
  				<tr>
  					<th>Seller</th>
				    <th>Buyer</th>
				    <th>Product</th>
				    <th>Price</th>
				    <th>Remarks</th>
				    <th colspan="3"></th>
				</tr>
			</thead>
			<tbody>  
				<tr>
				    <td class="td"><%= sale.seller.first_name %><%= sale.seller.last_name %></td>
					<td class="td"><%= sale.buyer.first_name %><%= sale.buyer.last_name %></td>
					<td class="td"><%= sale.product.name %></td>
					<td class="td"><%= sale.price %></td>
					<td class="td"><%= sale.remarks %></td>
					<td class = "td"><%= image_tag sale.product.avatar.url(:medium)%></td>
					<td class="td"><%= link_to 'Show', sale %></td>
				</tr>
  			</tbody>
  		<%end%>
  	<% end %>
<% end %>
</table>

</body>
</html>