<title>Show Order</title>
<h1>Order ID: <%= @order.order_id %></h1>

<center>
	<table id="table" style="width: 30%;">
		<tr>
			<th>Order ID</th>
			<td><%= @order.order_id %></td>
		</tr>
		<tr>
			<th>Customer Name</th>
			<td><%= @order.customer_name %></td>
		</tr>
		<tr>
			<th>Customer Address</th>
			<td><%= @order.customer_address @order.street @order.city @order.province @order.zip %></td>
		</tr>
		<tr>
			<th>Contact Number</th>
			<td><%= @order.contact_number%></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= @order.email%></td>
		</tr>
		<tr>
			<th>Date Entered</th>
			<td><%= @order.date_entered%></td>
		</tr>
		<tr>
			<th>Products</th>
		</tr>
		<tr>
			<th>Shipping Fee</th>
			<td><%= @order.shipping_fee%></td>
		</tr>
		<tr>
			<th>Total Amount</th>
			<td><%= @order.total_amount%></td>
		</tr>
		<tr>
			<th>Payment Method</th>
			<td><%= @order.payment_method%></td>
		</tr>
		<tr>
			<th>Order Status</th>
			<td><%= @order.order_status%></td>
		</tr>
		<tr style="height: 60px">
			<th></th>
			<td><%= link_to 'Edit', edit_order_path(@order), class:'btn' %><%= link_to 'Back', orders_path, class:'btn' %></td>
		</tr>
	</table>
</center>

<style product="text/css">
	th {
		width: 40%;
	}

  	a {
  		text-decoration: underline;
  		color: #465e5e;
  	}

  	a:hover {
  		color: #7aa4a4;
  	}
</style>