<title>Product Details</title>
<br><br><br>
<% @products.each do |prod| %>
	<% if prod.product_id == @type.product_id %>
		<div class="container1">
		<%= image_tag @type.image, class:'show-image', :size => '250x250' if @type.image.attached? %>
		</div>
		<div class="container2">
			<h1><%= prod.product_name %></h1>
			
			<p>Color: <%= @type.type_color %></p>
			<p>Size: <%= @type.type_size %></p>
			<p>Quantity Available: <%= @type.type_quantity %> </p><br><br>
			<%= link_to 'Add to Cart', welcome_cart_path, class:'btn', style:'margin-left: 7em;' %>
			<%= link_to 'Back', welcome_products_path, class:'btn' %><br><br><br><br>
		</div>

	<% end %>
<% end %>

<style type="text/css">
	h1 {
		font-size: 23px;
	}

	p { 
		font-size: 12px;
		margin-left: 6em;
	}

	.container1 {
		float: left;
		display: inline;
		width: 40%;
		margin: 2px;
		transform: translateX(20%);
	}
	.container2 {
		float: left;
		display: inline;
		width: 40%;
		padding: 5px;
		transform: translateX(-30%);
		border-radius: 20px;
	}
@media only screen and (max-width: 640px)
	{
		.mob-logo {
			display: inline;
		}

		.column {
			width: 90%;
      		transform: translateX(-13%);
      		margin: 10px;
		}
	}
</style>
